@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
      color: #333;
  }

  h1 {
      @apply text-4xl font-bold mb-14 lg:text-5xl;
  }

  code {
    font-family: "SF Mono", menlo, inconsolata, monospace;
    font-size: calc(1em - 2px);
    color: #555;
    background-color: #f0f0f0;
    padding: 0.2em 0.4em;
    border-radius: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .link {
	  @apply font-semibold underline hover-hover:hover:text-purple-700;
  }

  svg {
	  fill: currentColor;
  }
}
